@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.woff);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.woff);
  font-weight: bold;
}

:root {
  --board-size: 0.85;
  --gray: #aaaaaa;
}

body {
  font-family: 'Roboto', sans-serif;
  cursor: default;
  transition: opacity 2s ease;
  margin: 0;
  opacity: 0;
}

#outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#middle {
  display: table-cell;
  vertical-align: middle;
}

#inner {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: bold;
  text-align: center;
  color: var(--gray);
  /* color: darkgray; */
  font-size: calc(var(--board-size) / 3.9);
  /* margin-top: 0px; */

  margin-top: -10px;
  margin-bottom: 8px;
}

.draw {
  width: calc(var(--board-size) / 10);
  height: calc(var(--board-size) / 10);
  cursor: pointer;
  margin: auto;
  margin-bottom: 12px;
  transition: opacity 0.2s ease;
  fill: var(--gray);
}

/* .crown {
  width: calc(var(--board-size) / 6);
  height: calc(var(--board-size) / 6);
  transform: translateY(1.5vmin);
  cursor: pointer;
  margin: auto;
  /* margin-bottom: 12px; */
  /* transition: opacity 0.2s ease; */
  /* fill: var(--gray); */
/* } */

.disable {
  fill: rgba(170, 170, 170, 0.5);
}

.board {
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, 1fr);
  /* border: 10px solid #ebebeb; */
  /* border: 10px solid darkgray; */
  border: 10px solid var(--gray);
  padding: 2px;

  border-radius: 7px;
  width: calc(var(--board-size));
  height: calc(var(--board-size));
  margin: auto;
}

.square {
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: white;
  /* background-color: whitesmoke; */
  width: var(--board-size) / 8;
  height: var(--board-size) / 8;
}


.square:nth-child(16n + 2),
.square:nth-child(16n + 4),
.square:nth-child(16n + 6),
.square:nth-child(16n + 8),
.square:nth-child(16n + 9),
.square:nth-child(16n + 11),
.square:nth-child(16n + 13),
.square:nth-child(16n + 15) {
    background: var(--gray);

    /* background: repeating-linear-gradient(
    -45deg,
    #bbbbbb,
    #bbbbbb 2px,
    #ffffff 2px,
    #ffffff 4px
  ); */

  /* background: repeating-linear-gradient(
    -45deg,
    darkgray,
    darkgray 2px,
    #ffffff 2px,
    #ffffff 4px
  ); */
}

.place, .piece, .piece > div {
  /* display: grid;
  position: absolute;
  place-items: center; */
  border: 1px solid transparent;
  width: calc(var(--board-size) / 8 * 0.7);
  height: calc(var(--board-size) / 8 * 0.7);
  border-radius: 50%;
  /* opacity: 0; */
}

.place {
  display: grid;
  place-items: center;
  /* border: 1px solid #bbbbbb; */
  /* opacity: 1; */
}

.hint {
  width: calc(var(--board-size) / 8 * 0.1);
  height: calc(var(--board-size) / 8 * 0.1); 
  border-radius: 50%;
}

.hint-w {
  background-color: #cccccc;
  /* border: 1px solid #cccccc; */
  opacity: 1;
}

.hint-b {
  background-color: #888888;
  /* border: 1px solid #888888; */
  opacity: 1;
}

.piece, .piece > div {
  display: grid;
  position: absolute;
  place-items: center;
  opacity: 1;
  cursor: pointer;
  /* pointer-events: none; */
  transition: opacity 0.3s ease-in-out;
}

.piece::after {
  content: '';
  position: absolute;
  left: calc(var(--board-size) / 8 * 0.1 * -1);
  right: calc(var(--board-size) / 8 * 0.1 * -1);
  top: calc(var(--board-size) / 8 * 0.1 * -1);
  bottom: calc(var(--board-size) / 8 * 0.1 * -1);
}

img {
  width: calc(var(--board-size) / 8 * 0.5);
  height: calc(var(--board-size) / 8 * 0.5);
  opacity: 0;
  /* fill: #bbbbbb; */
}

.king img {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.white, .white > div {
  background: white;
  border: 1px solid var(--gray);
  /* opacity: 1; */
}

.black, .black > div {
  background: black;
  /* border: 1px solid black; */
  /* opacity: 1; */
}

.disappear {
  /* transition: opacity 0.5s ease-in-out; */
  opacity: 0;
}

.removed {
  display: none;
}

.selected {
  background: repeating-linear-gradient(
    -45deg,
    var(--gray),
    var(--gray) 1.5px,
    #ffffff 1.5px,
    #ffffff 3px
  ) !important;
}

.move {
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

.move-m {
  z-index: 100;
}

.return {
  transition: all 0.2s ease-in-out;
}

.settle {
  transition: all 0.2s ease-in-out;
}

@keyframes zoom {

  0% {
      transform: scale(1.0);
  }

  100% {
      transform: scale(1.2);
  }
}

.zoom > div {
  animation: zoom 0.25s 2 linear forwards alternate;
}

.piece > div {
  transition: all 0.3s linear;
}

.zoom-m {
  transform: scale(1.0);
}

@keyframes blink {

  0% {
      opacity: 1; 
  }

  50% {
      opacity: 0.3;
  } 

  100% {
      opacity: 1; 
  } 
}

.blink {
  animation: blink 0.2s ease-in-out forwards;
}

#designed {
  text-align: center;
  position: relative;
  align-self: auto;
  color: white;
  font-size: 9px; 
  margin-top: -12px;
}

@media (prefers-color-scheme: dark) {

  body {
      background-color: black;
  }

  .board {
    background-color: #cccccc;
  }

  .square {
    background-color: #cccccc;

  }

  .white, .white > div {
    background-color: #dddddd;
  }

  .black, .black > div {
    background-color: #111111;
  }

  .selected {
    background: repeating-linear-gradient(
      -45deg,
      var(--gray),
      var(--gray) 1.5px,
      #cccccc 1.5px,
      #cccccc 3px
    ) !important;
  }

  #designed {
    color: #cccccc;;
  }


  
}

@media (orientation: landscape) and (max-height: 460px) {

  h1 {
      display: none;
  }
}

@media (min-width: 460px) and (min-height: 460px) {

  :root {
    --board-size-big: 400px;
  }

  h1 {
    font-size: 105px;
  }

  .draw {
    width: calc(var(--board-size-big) / 10);
    height: calc(var(--board-size-big) / 10);  
  }

  .board {
      width: var(--board-size-big);
      height: var(--board-size-big);
      /* border: 15px solid #ebebeb; */
      /* border: 10px solid darkgrey; */
      border: 15px solid var(--gray);

  }

  .square {
      width: calc(var(--board-size-big) / 8);
      height: calc(var(--board-size-big) / 8);
  } 

  .place, .piece, .piece > div {
    width: calc(var(--board-size-big) / 8 * 0.7);
    height: calc(var(--board-size-big) / 8 * 0.7);
  }

  /* .piece {
    width: calc(var(--board-size-big) / 8 * 0.7);
    height: calc(var(--board-size-big) / 8 * 0.7);
  }   */
  
  img {
    width: calc(var(--board-size-big) / 8 * 0.5);
    height: calc(var(--board-size-big) / 8 * 0.5);
  }

  #designed {
    font-size: 12.8px; 
    margin-top: -16.9px;
  }
}