@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.woff);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.woff);
  font-weight: bold;
}

:root {
  --board-size: 0.85;
  --gray: #aaaaaa;
}

body {
  font-family: 'Roboto', sans-serif;
  cursor: default;
  transition: opacity 2s ease;
  margin: 0;
  opacity: 0;
}

#outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#middle {
  display: table-cell;
  vertical-align: middle;
}

#inner {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: bold;
  text-align: center;
  color: var(--gray);
  /* color: darkgray; */
  font-size: calc(var(--board-size) / 3.9);
  /* margin-top: 0px; */

  margin-top: -10px;
  margin-bottom: 8px;
 } 

.draw {
  width: calc(var(--board-size) / 10);
  height: calc(var(--board-size) / 10);
  cursor: pointer;
  margin: auto;
  margin-bottom: 12px;

}

.board {
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, 1fr);
  /* border: 10px solid #ebebeb; */
  /* border: 10px solid darkgray; */
  border: 10px solid var(--gray);
  padding: 2px;

  border-radius: 7px;
  width: calc(var(--board-size));
  height: calc(var(--board-size));
  margin: auto;
}

.square {
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: white;
  /* background-color: whitesmoke; */
  width: var(--board-size) / 8;
  height: var(--board-size) / 8;
}


.square:nth-child(16n + 2),
.square:nth-child(16n + 4),
.square:nth-child(16n + 6),
.square:nth-child(16n + 8),
.square:nth-child(16n + 9),
.square:nth-child(16n + 11),
.square:nth-child(16n + 13),
.square:nth-child(16n + 15) {
    background: var(--gray);

    /* background: repeating-linear-gradient(
    -45deg,
    #bbbbbb,
    #bbbbbb 2px,
    #ffffff 2px,
    #ffffff 4px
  ); */

  /* background: repeating-linear-gradient(
    -45deg,
    darkgray,
    darkgray 2px,
    #ffffff 2px,
    #ffffff 4px
  ); */
}

/* .square:nth-child(2) .piece, 
.square:nth-child(4) .piece, 
.square:nth-child(6) .piece, 
.square:nth-child(8) .piece, 
.square:nth-child(9) .piece, 
.square:nth-child(11) .piece, 
.square:nth-child(13) .piece, 
.square:nth-child(15) .piece, 
.square:nth-child(18) .piece, 
.square:nth-child(20) .piece, 
.square:nth-child(22) .piece, 
.square:nth-child(24) .piece {
    background: white;
    border: 1px solid var(--gray);
}

.square:nth-child(41) .piece, 
.square:nth-child(43) .piece, 
.square:nth-child(45) .piece, 
.square:nth-child(47) .piece, 
.square:nth-child(50) .piece, 
.square:nth-child(52) .piece, 
.square:nth-child(54) .piece, 
.square:nth-child(56) .piece, 
.square:nth-child(57) .piece, 
.square:nth-child(59) .piece, 
.square:nth-child(61) .piece, 
.square:nth-child(63) .piece {
    background: black;
    border: 1px solid black;
} */

.place, .piece{
  border: 1px solid var(--gray);
  width: calc(var(--board-size) / 8 * 0.7);
  height: calc(var(--board-size) / 8 * 0.7);
  border-radius: 50%;
  opacity: 0;
}

.piece {
  display: grid;
  position: absolute;
  place-items: center;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

img {
  width: calc(var(--board-size) / 8 * 0.5);
  height: calc(var(--board-size) / 8 * 0.5);
  opacity: 0;
  /* fill: #bbbbbb; */
}

.king img {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.white {
  background: white;
  border: 1px solid var(--gray);
  /* opacity: 1; */
}

.black {
  background: black;
  border: 1px solid black;
  /* opacity: 1; */
}

.removed {
  /* transition: opacity 0.5s ease-in-out; */
  opacity: 0;
}

.selected {
  background: repeating-linear-gradient(
    -45deg,
    var(--gray),
    var(--gray) 1.5px,
    #ffffff 1.5px,
    #ffffff 3px
  ) !important;
}

.move {
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

#designed {
  text-align: center;
  position: relative;
  align-self: auto;
  color: white;
  font-size: 9px; 
  margin-top: -12px;
}

@media (orientation: landscape) and (max-height: 460px) {

  h1 {
      display: none;
  }
}

@media (min-width: 460px) and (min-height: 460px) {

  :root {
    --board-size-big: 400px;
  }

  h1 {
    font-size: 105px;
  }

  .draw {
    width: calc(var(--board-size-big) / 10);
    height: calc(var(--board-size-big) / 10);  
  }

  .board {
      width: var(--board-size-big);
      height: var(--board-size-big);
      /* border: 15px solid #ebebeb; */
      /* border: 10px solid darkgrey; */
      border: 15px solid var(--gray);

  }

  .square {
      width: calc(var(--board-size-big) / 8);
      height: calc(var(--board-size-big) / 8);
  } 

  .place, .piece {
    width: calc(var(--board-size-big) / 8 * 0.7);
    height: calc(var(--board-size-big) / 8 * 0.7);
  }

  /* .piece {
    width: calc(var(--board-size-big) / 8 * 0.7);
    height: calc(var(--board-size-big) / 8 * 0.7);
  }   */
  
  img {
    width: calc(var(--board-size-big) / 8 * 0.5);
    height: calc(var(--board-size-big) / 8 * 0.5);
  }

  #designed {
    font-size: 12.8px; 
    margin-top: -16.9px;
  }
}